<div class="row">
	<div class="large-12 colums">
		<script type="text/javascript" src="/js/vendor/highcharts.js"></script>
		<script type="text/javascript" src="/js/vendor/highcharts-more.js"></script>
		<div id="container" style="min-width: 100%; min-height: 95%; margin: 0 auto"></div>
	</div>
</div>