<html>
	<head>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">
			$(function () {
		        $('#container').highcharts({
		        	colors: ['#FF2400','#00308F'],
		            title: {
		                text: "<%= @user %>'s Reddit Karma (last 100 comments)",
		                x: -20 //center
		            },
		            xAxis: {
		            },
		            tooltip: {
		            	crosshairs: true,
		            	formatter: function() {
		            		return "[" + this.y + "]" + '  "' + this.point.name + '"';
						}
		            },
		            yAxis: {
		                title: {
		                    text: 'Karma'
		                },
		                plotLines: [{
		                    value: 0,
		                    width: 1,
		                    color: '#808080'
		                }]
		            },
		            legend: {
		                layout: 'vertical',
		                align: 'right',
		                verticalAlign: 'middle',
		                borderWidth: 0
		            },
		            series: [{
		                name: 'Ups',
		                data: <%= @ups %>
		            }, {
		                name: 'Downs',
		                data: <%= @downs %>
		            }]
		        });
			});
		</script>
	</head>
	<body>
		<script type="text/javascript" src="highcharts.js"></script>
		<div id="container" style="min-width: 95%; min-height: 95%; margin: 0 auto"></div>
	</body>
</html>