body{
	box-sizing:border-box;
	margin-top: 1em;
}
form.custom .custom.dropdown {
	vertical-align: middle;
	text-align: center;
	height: 3.6125em;
	padding:0.6em;
}
form.custom .custom.dropdown .selector {
	height: 3.5125em;
}
form.custom .custom.dropdown ul li {
	padding: 1em;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	padding: 1.1em;
}
textarea {
    resize: none;
}
.postfix {
	padding-top: 0.6em;
	height: 3.550em;
	border:none;
}
input.redditor {
  vertical-align: middle;
  min-height: 50px;
  height: auto;
  padding: 0.6em;
}
.row.header a{
	font-family:'Conv_VAGRoundedStd-Light',Sans-Serif;
	color:black;
}
.row.header h1{
	line-height: 0;
	margin-top: 0.2em;
	margin-left: 0.1em;
	font-size: 7em;
	margin-bottom: -0.1em;
}
.row.header img{
	margin-bottom: 0.2em;
}